* {
	padding: 0px;
	margin: 0px;
	border: none;
	box-sizing: border-box;
}

a, a:link, a:visited, a:hover, li  {
    text-decoration: none;
	color: #222;
}
body {
	background-color: lightgray;
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #222;
}
main {
	display: flex;
	width: 900px;
	margin-top: 20px;
	flex-direction: column;
	background-color: #fff;
}
header {
	display: flex;
	height: 230px;
	align-items: center;
	padding: 0 60px;
	justify-content: space-between;
	flex-wrap: wrap;
}
header img {
	border-radius: 50%;
	border-style: solid;
	border-width: 3px;
	border-color: #222;
}
h1 {
	font-weight: 400;
	text-transform: uppercase;
}
h2 {
	font-weight: 300;
	text-transform: uppercase;
}
nav {
	width: 900px;
}
nav ul {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	text-transform: uppercase;
	font-weight: 200;
}
nav a:hover {
	text-decoration: underline;
}
.article {
	display: flex;
	background-color: #fff;
	justify-content: space-between;
	padding: 0 60px;
}
.wrap_section{
	display: flex;
	flex-direction: column;
}
aside {
	display: flex;
	width: 250px;
	flex-direction: column;
	
}
.aside_section{
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
}
.aside_section ul li{
	padding-left: 10px;
	padding-top: 5px;
	list-style-type: none;
}
.wrap_section{
	display: flex;
	width: 515px;
}
h3 {
	color: #fff;
	background-color: #222;
	padding-left: 15px;
	text-transform: uppercase;
	font-weight: 300;
}
.wrap_section p {
	padding: 10px 0 0 10px;
}
.wrap_section section {
	margin-bottom: 30px;
}
code {
	display: flex;
	background-color: lightgray;
	border-radius: 10px;
}
.progressbar { 
	height: 10px;
	position: relative;
	background: lightgray;
	padding: 1px;
	box-shadow: inset 0 -1px 1px darkgray;
}
.progressbar > span {
	display: block;
	height: 100%;
	background-color: #222;
	position: relative;
	overflow: hidden;
  }
  .skill_js {
	width: 40%;
  }
  .skill_html {
	width: 90%;
  }
  .skill_css {
	width: 80%;
  }
  footer {
	width: 900px;
	height: 80px;
	background-color: #222;
	padding: 0 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
  }
  footer a{
	display: flex;
	justify-content: center;
  }
  footer p{
	color: #fff;
	padding-top: 5px;
	padding-left: 5px;
  }